<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">



    <!--开启spring mvc对于注解的支持-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <context:component-scan base-package="com.sz.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>


    <!--<bean id="thymeleafViewResolver" class="org.thymeleaf.spring4.view.ThymeleafViewResolver">-->
        <!--<property name="characterEncoding" value="utf-8"></property>-->
        <!--<property name="templateEngine" ref="springTemplateEngine"></property>-->
    <!--</bean>-->

    <!--&lt;!&ndash;设置模板&ndash;&gt;-->
    <!--<bean id="springTemplateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">-->
        <!--<property name="templateResolver" ref="servletContextTemplateResolver" ></property>-->
    <!--</bean>-->

    <!--&lt;!&ndash;配置视图解析器,thymeleaf&ndash;&gt;-->
    <!--<bean id="servletContextTemplateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">-->
        <!--<constructor-arg ref="servletContext"></constructor-arg>   &lt;!&ndash;构造注入&ndash;&gt;-->
        <!--<property name="prefix" value="/WEB-INF/template/"></property>-->
        <!--<property name="order" value="1"></property>-->
        <!--<property name="suffix" value=".html"></property>-->
        <!--<property name="templateMode" value="HTML5"></property>-->
        <!--<property name="cacheable" value="false"></property>  &lt;!&ndash;页面不缓存&ndash;&gt;-->
        <!--<property name="characterEncoding" value="utf-8"></property>-->
    <!--</bean>-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/template/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>


    <!--设置前端控制器那些资源不拦截-->
    <mvc:resources mapping="/js/**" location="/js/"></mvc:resources>
    <mvc:resources mapping="/bootstrap/**" location="/bootstrap/"></mvc:resources>




    <!--配置文件解析器-->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--<property name="maxUploadSize" value="122222254"></property>&lt;!&ndash;设置最大上传文件大小&ndash;&gt;-->
    <!--</bean>-->

    <!--    配置异常处理器-->
    <!--    <bean id="SysexceptionResolver" class="com.nanchang.exception.SysexceptionResolver"></bean>-->


    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**/*"/> <!--表示配置的拦截路径-->
            <mvc:exclude-mapping path="/**/*.css" />     <!-- 表示配置不拦截的路径，和上面的二选一即可-->
            <mvc:exclude-mapping path="/**/*.js" />
            <mvc:exclude-mapping path="/**/*.map" />
            <mvc:exclude-mapping path="/login" />
            <mvc:exclude-mapping path="/zhuce" />
            <mvc:exclude-mapping path="/zhuce.jsp" />
            <mvc:exclude-mapping path="/admin/data" />
            <mvc:exclude-mapping path="/user.jsp" />
            <mvc:exclude-mapping path="/admin.html" />
            <mvc:exclude-mapping path="/favicon.ico" />
            <bean class="com.sz.inter.MyHandlerInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 拦截器配置 -->
    <!--<mvc:interceptors>-->
        <!--&lt;!&ndash; session超时 &ndash;&gt;-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/*/*"/>-->
            <!--<mvc:exclude-mapping path="/**/*.css" />     &lt;!&ndash; 表示配置不拦截的路径，和上面的二选一即可&ndash;&gt;-->
            <!--<mvc:exclude-mapping path="/**/*.js" />-->
            <!--<mvc:exclude-mapping path="/**/*.map" />-->
            <!--<mvc:exclude-mapping path="/login" />-->
            <!--<mvc:exclude-mapping path="/zhuce" />-->
            <!--<mvc:exclude-mapping path="/zhuce.jsp" />-->
            <!--<mvc:exclude-mapping path="/admin/data" />-->
            <!--<mvc:exclude-mapping path="/user.jsp" />-->
            <!--<mvc:exclude-mapping path="/admin.html" />-->
            <!--<mvc:exclude-mapping path="/favicon.ico" />-->
            <!--<bean class="com.sz.inter.MyHandlerInterceptor">-->
                <!--<property name="allowUrls">-->
                    <!--<list>-->
                        <!--&lt;!&ndash; 如果请求中包含以下路径，则不进行拦截 &ndash;&gt;-->
                        <!--<value>/login</value>-->
                        <!--<value>/js</value>-->
                        <!--<value>/css</value>-->
                        <!--<value>/image</value>-->
                        <!--<value>/images</value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->


</beans>